{# ------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------ #}
{% if OSPFV2_NEIGHBOR is defined and OSPFV2_NEIGHBOR|length > 0 %}
{% for (ospf_neighbor_key, ospf_neighbor_instance) in OSPFV2_NEIGHBOR.items() %}
{% set ospf_neighbor_vrf = ospf_neighbor_key[0] %}
{% set ospf_neighbor_addr = ospf_neighbor_key[1] %}
{% if 'poll-interval' in ospf_neighbor_instance and 'priority' in ospf_neighbor_instance %}
 neighbor {{ ospf_neighbor_addr }} poll-interval {{ ospf_neighbor_instance['poll-interval'] }} priority {{ ospf_neighbor_instance['priority'] }}
{% elif 'poll-interval' in ospf_neighbor_instance %}
 neighbor {{ ospf_neighbor_addr }} poll-interval {{ ospf_neighbor_instance['poll-interval'] }}
{% elif 'priority' in ospf_neighbor_instance %}
 neighbor {{ ospf_neighbor_addr }} priority {{ ospf_neighbor_instance['priority'] }}
{% endif %}
{% endfor %}
{% endif %}
